*::selection{
    background-color:black;
    color: white;
}

.gap{
    gap: 20px;
}

.active{
    color:#0a58ca !important;
}

.navbar-brand{
    font-size: 26px;
}

button:focus:not(:focus-visible) {
    box-shadow: none !important;
}



@media screen and (max-width: 960px) {
    ul.gap {
        gap:0;
    }

}