*::selection{
    background-color:black;
    color: white;
}

.gap{
    gap: 20px;
}

nav li a.active{
    color:#0a58ca !important;
}

.navbar-brand{
    font-size: 26px;
}

button:focus:not(:focus-visible) {
    box-shadow: none !important;
}

.carousel-inner .promo {
    z-index: 1;
}

.btn-ind{
    border-radius: 50% !important;
    width:10px !important;
    height:10px !important;
    opacity: 1 !important;
}

.carousel-indicators button.active {
    background-color:#0a58ca !important;
}

.portfolio .view-all:hover{
    color:#0a58ca !important;
}

.portfolio .card > a{
    transition: 300ms;
}

.portfolio .card > a:hover{
    transform:translateY(-20px);
}

.infrastructure {
    background-color: #3e64ff;
    padding: 5% 0;
}

@media screen and (max-width: 960px) {
    ul.gap {
        gap:0;
    }

}